body {
    font-family: "Microsoft JhengHei";
    margin: 0;
}

.flex-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#bg_image{
    width: 100%;
    height: auto;
}

.title {
    color: #073B4C;
    text-align: center;
    width: 500px;
    height: auto;
    
    font-style: normal;
    font-size: 2vw;
    text-shadow: 2px 2px #118AB2;

    background-color: #06D6A0;
    
    border-style: solid;
    border-color: #06D6A0;
    border-width: 5px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 20px;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main {
    padding: 30px;
}

.subtitle {
    font-size: 40px;
    text-align: center;
}

#notations {
    position: relative;

    height: 500px;
    width: auto;
}

h3 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 24px;
    padding: 0px 250px;
    text-align: center;
}

@media (max-width:1000px){
    .title {
        width: 300px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
        padding: 0px 50px;
    }
}

.intro_img {
    position: relative;

    height: 300px;
    width: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px 20px;
    width: 300px;
    font-size: 20px;
}

.alg_table {
    display: flex;
}