body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    /*position: relative;*/
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#bg_image{
    width: 100%;
    height: auto;
}

.title {
    color: #073B4C;
    text-align: center;
    position: relative;
    width: 500px;
    display: inline-block;
    font-style: normal;
    font-size: 2vw;
    text-shadow: 2px 2px #118AB2;

    background-color: #06D6A0;
    
    border-style: solid;
    border-color: #06D6A0;
    border-width: 5px;
}

.navbar {
    background-color: black;
    color: white;
}